@import '../../utils/mixin.scss';
@import '../../utils/variable.scss';

.eventSlide{
    margin-top: 20px;
    padding: 200px 50px;
    position: relative;
    color: $cWhite;
    z-index: 20;
    filter: grayscale(50%);
    
    @media screen and (max-width:820.98px) {
        padding: 100px 20px;
        &::after{
            width: 95%;
        }
    }
    @media screen and (max-width:414.98px) {
        padding: 90px 20px;
        &::after{
            display: none;
        }
    }
}