.banner{
    background: linear-gradient(to left, #227df9 20%, #7462f9, #df3ef8);
    height: 150px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}